<template>
  <div>
    <h3 class="p-3 text-center text-success">{{ period }}の履歴</h3>
    <h4>先月からの繰り越し：{{ transfer }}円 収入：{{ income }}円 支出：{{ outcome }}円 残高：{{ transfer + income - outcome }}円</h4>
    <b-table
      id="expensesTable"
      :items="expenses"
      :fields="fields"
      :per-page="perPage"
      :current-page="currentPage"
      striped>
      <template v-slot:cell(accounted_at)="data">{{ data.item.accounted_at }}</template>
      <template v-slot:cell(title_name)="data">{{ data.item.title_name }}</template>
      <template v-slot:cell(income)="data">{{ data.item.income }}</template>
      <template v-slot:cell(outcome)="data">{{ data.item.outcome }}</template>
      <template v-slot:cell(note)="data">{{ data.item.note }}</template>
      <template v-slot:cell()="data">
        <b-button :data-id="data.item.id" variant="success" class="float-right" @click="onClick">編集</b-button>
      </template>
    </b-table>

    <b-pagination v-model="currentPage" :total-rows="rows" :per-page="perPage" aria-controls="expensesTable"/>

    <b-modal
      v-model="modalShow"
      title="編集"
      ok-title="更新"
      cancel-title="削除"
      cancel-variant="danger"
      @ok="handleOk"
      @cancel="handleCancel">
      <b-form>
        <div v-for="error in errors" :key="error.index">
          <div v-for="val in error" :key="val.index" class="text-danger">{{ val }}</div>
        </div>

        <b-form-group label="日付" label-for="accounted-at">
          <b-form-input id="accounted-at" v-model="form.accountedAt" type="date" required />
        </b-form-group>

        <b-form-group label="費目">
          <b-form-select v-model="form.titleId" :options="titleList" />
        </b-form-group>

        <b-form-group label="金額" label-for="amount">
          <b-form-input id="amount" v-model="form.amount" type="number" min="1" required />
        </b-form-group>

        <b-form-group label="備考" label-for="note">
          <b-form-input id="note" v-model="form.note" type="text" />
        </b-form-group>
      </b-form>
    </b-modal>
  </div>
</template>

<script>
export default {
  middleware: 'authenticated',
  computed: {
    rows() {
      return this.expenses.length
    }
  },
  async asyncData({ app, params }) {
    const d = new Date
    const period = params.period || d.getFullYear() + '-' + (d.getMonth() + 1).toString().padStart(2, '0') 
    const res1 = await app.$axios.$get(process.env.API_URL + '/expenses?period=' + period)
    res1.data = res1.data.map(function(expense) {
      expense.income = expense.income > 0 ? expense.income : ''
      expense.outcome = expense.outcome > 0 ? expense.outcome : ''
      return expense
    })
    const res2 = await app.$axios.$get(process.env.API_URL + '/titles')
    return {
      period: period,
      transfer: res1.meta.transfer,
      income: res1.meta.income,
      outcome: res1.meta.outcome,
      fields: [
        { key: 'accounted_at', label: '日付', sortable: true },
        { key: 'title_name', label: '費目', sortable: true },
        { key: 'income', label: '収入', sortable: true },
        { key: 'outcome', label: '支出', sortable: true },
        { key: 'note', label: '備考', sortable: false },
        { label: ''}
      ],
      expenses: res1.data,
      perPage: 10,
      currentPage: 1,
      form: {
        id: '',
        accountedAt: '',
        titleId: '',
        amount: '',
        note: '',
      },
      errors: {},
      titleList: {},
      titleData: res2.data,
      modalShow: false
    }
  },
  methods: {
    onClick(evt) {
      evt.preventDefault()
      const target = this.expenses.find((item) => {
        return item.id == evt.target.dataset.id
      })

      if (target.income > 0) {
        this.titleList = this.titleData.filter(function(title) {return title.is_income === true})
        this.form.type = 'income'
      } else if (target.outcome > 0) {
        this.titleList = this.titleData.filter(function(title) {return title.is_outcome === true})
        this.form.type = 'outcome'
      }

      this.form.id = evt.target.dataset.id
      this.form.accountedAt = target.accounted_at
      this.form.titleId = target.title_id
      this.form.amount = target.income + target.outcome
      this.form.note = target.note
      
      this.modalShow = true
    },
    handleOk() {
      const app = this
      app.$axios.$patch(process.env.API_URL + '/expenses/' + app.form.id, {
        type: app.form.type,
        accounted_at: app.form.accountedAt,
        title_id: app.form.titleId,
        amount: app.form.amount,
        note: app.form.note,
      }).then(function (res) {
        const target = app.expenses.find((expense) => {
          return expense.id == app.form.id
        })
        const title = app.titleData.find((title) => {
          return title.value == app.form.titleId
        })
        target.accounted_at = app.form.accountedAt
        target.title_id = app.form.titleId
        target.title_name = title.text
        target.income = app.form.type === 'income' ? app.form.amount : ''
        target.outcome = app.form.type === 'outcome' ? app.form.amount : ''
        target.note = app.form.note
        app.errors = {}

        app.income = Number(res.data.income)
        app.outcome = Number(res.data.outcome)
      }).catch(function (error) {
        if (error.response) {
          app.errors = error.response.data.errors
        }
      })
    },
    handleCancel() {
      const app = this
      app.$axios.$delete(process.env.API_URL + '/expenses/' + app.form.id
      ).then(function (res) {
        app.expenses.some(function(item, i){
          if (item.id == app.form.id) app.expenses.splice(i, 1)
        })
        app.income = Number(res.data.income)
        app.outcome = Number(res.data.outcome)
      }).catch(function (error) {
        if (error.response) {
          app.errors = error.response.data.errors
        }
      })
    }
  }
}
</script>
