<template>
  <b-form @submit="onSubmit" @reset="onReset">
    <b-form-group>
      <b-form-radio-group v-model="type" button-variant="outline-success" buttons @change="onChange">
        <b-form-radio value="income">収入</b-form-radio>
        <b-form-radio value="outcome">支出</b-form-radio>
      </b-form-radio-group>
    </b-form-group>

    <div v-for="error in errors" :key="error.index">
      <div v-for="val in error" :key="val.index" class="text-danger small">{{ val }}</div>
    </div>

    <b-form-group label="日付" label-for="accountedAt">
      <b-form-input id="accountedAt" v-model="accountedAt" type="date" required />
    </b-form-group>

    <b-form-group label="費目">
      <b-form-select v-model="titleId" :options="titleSelectList" />
    </b-form-group>

    <b-form-group label="金額" label-for="amount">
      <b-form-input id="amount" v-model="amount" type="number" min="1" required />
    </b-form-group>

    <b-form-group label="備考 (最大255文字)" label-for="note">
      <b-form-input id="note" v-model="note" type="text" />
    </b-form-group>

    <b-button type="submit" variant="primary">登録</b-button>
    <b-button type="reset" variant="danger">リセット</b-button>
  </b-form>
</template>

<script>
const d = new Date()
const today = 
  [d.getFullYear(), (d.getMonth() + 1).toString().padStart(2, '0'), d.getDate().toString().padStart(2, '0')].join('-')

export default {
  props: {
    titleData: {
      type: [Object, Array],
      default: function() {
        return {}
      }
    }
  },
  data() {
    return {
      type: 'outcome',
      accountedAt: today,
      titleId: '',
      amount: '',
      note: '',
      errors: {},
      titleSelectList: {}
    }
  },
  created () {
    const app = this
    this.titleSelectList = app.titleData.filter(function(title) {
      if (app.type === 'income') {
        return title.is_income === true
      } else {
        return title.is_outcome === true
      }
    })
    this.titleId = this.titleSelectList[0].value
  },
  methods: {
    onChange(checked) {
      if (checked === 'income') {
        this.titleSelectList = this.titleData.filter(function(title) {return title.is_income === true})
        this.titleId = this.titleData.filter(function(title) {return title.is_income == true})[0].value
      } else {
        this.titleSelectList = this.titleData.filter(function(title) {return title.is_outcome === true})
        this.titleId = this.titleData.filter(function(title) {return title.is_outcome == true})[0].value
      }
    },
    onSubmit(evt) {
      evt.preventDefault()
      const app = this
      app.$axios.post(process.env.API_URL + '/expenses', {
        accounted_at: app.accountedAt,
        title_id: app.titleId,
        amount: app.amount,
        note: app.note,
        type: app.type        
      }).then(function (res) {
        const title = app.titleData.find((title) => {
          return title.value == app.titleId
        })
        app.$emit('push-expenses', {
          id: res.data,
          accounted_at: app.accountedAt,
          title_id: app.titleId,
          title_name: title.text,
          income: app.type === 'income' ? app.amount : '',
          outcome: app.type === 'outcome' ? app.amount : '',
          note: app.note
        })
        app.errors = {}
        app.amount = ''
        app.note = ''
      }).catch(function (error) {
        if (error.response) {
          app.errors = error.response.data.errors
        }
      })
    },
    onReset(evt) {
      evt.preventDefault()
      
      this.type = 'outcome'
      this.accountedAt = [
        d.getFullYear(), 
        (d.getMonth() + 1).toString().padStart(2, '0'), 
        d.getDate().toString().padStart(2, '0')
      ].join('-')
      this.titleSelectList = this.titleData.filter(function(title) {return title.is_outcome === true})
      this.titleId = this.titleSelectList[0].value
      this.amount = ''
      this.note = ''
    }
  }
}
</script>