<template>
  <b-container fluid>
    <h1 v-if="error.statusCode === 404" class="text-center">ページが見つかりません</h1>
    <h1 v-else class="text-center">エラーが発生しました</h1>
  </b-container>
</template>

<script>
export default {
  props: {
    error: {
      type: Object,
      default: null
    }
  },
  layout: 'default'
}
</script>
