<template>
  <div>
    <b-container fluid>
      <h3 class="m-3 text-center text-success">今月の状況</h3>
      <b-row>
        <b-col cols="12" md="6">
          <div class="piechart-container">
            <pie-chart :chart-data="piedata" :options="pieoptions" :styles="styles" />
          </div>
        </b-col>
        <b-col>
          <br />
          <h4>予算: {{ budget }}円</h4>
          <br />
          <h4>
            <span class="text-success">支出:</span>
            {{ outcome }}円
          </h4>
          <br />
          <h4>
            <span class="text-primary">予算残高:</span>
            {{ budget - outcome > 0 ? budget - outcome : 0 }}円
          </h4>
          <br />
          <h4>予算消化率: {{ budgetRate }}％</h4>
        </b-col>
      </b-row>
      <b-row class="mt-5">
        <div class="barchart-container">
          <bar-chart :chart-data="bardata" :options="baroptions" :styles="styles" />
        </div>
      </b-row>
    </b-container>
  </div>
</template>

<script>
import PieChart from '~/components/PieChart.js'
import BarChart from '~/components/BarChart.js'

export default {
  middleware: 'authenticated',
  components: {
    PieChart,
    BarChart
  },
  data() {
    return {
      pieoptions: {
        maintainAspectRatio: false,
        legend: { reverse: true }
      },
      baroptions: {
        maintainAspectRatio: false,
        scales: {
          yAxes: [
            {
              id: 'y-axis-left',
              position: 'left',
              gridLines: { color: 'rgba(2,117,216,0.2)' },
              ticks: { fontColor: '#0275d8', min: 0, }
            }, {
              id: 'y-axis-right',
              position: 'right',
              gridLines: { color: 'rgba(92,184,92,0.2)' },
              ticks: { fontColor: '#5cb85c', min: 0, }
            }
          ]
        }
      },
      styles: {
        height: '100%',
        width: '100%'
      }
    }
  },
  async asyncData({ app }) {
    const res = await app.$axios.$get(process.env.API_URL + '/expenses/summary')
    const labelDateList = 
      res.data.map(function(expense) { return expense.accounted_at.substr(5).replace(/-/g, '/').replace(/^0/, '') })
    const barOutcomeList = res.data.map(function(expense) { return expense.outcome })
    const lineBalanceList = res.data.map(function(expense) { return expense.balance > 0? expense.balance : 0 })
    const budgetBalance = res.meta.budget > res.meta.outcome ? res.meta.budget - res.meta.outcome : 0
    return {
      outcome: res.meta.outcome,
      budget: res.meta.budget,
      budgetRate: Math.round(res.meta.outcome * 100 / res.meta.budget) <= 100 ? 
        Math.round(res.meta.outcome * 100 / res.meta.budget) : 100,
      piedata: {
        datasets: [{
          data: [res.meta.outcome, budgetBalance],
          backgroundColor: ['#5cb85c', '#0275d8']
        }],
        labels: ['月の支出', '予算残高']
      },
      bardata: {
        labels: labelDateList,
        datasets: [{
          label: '予算残高',
          data: lineBalanceList,
          borderColor: '#0275d8',
          backgroundColor: '#0275d8',
          type: 'line',
          yAxisID: 'y-axis-left',
          fill: false,
          tension: 0,
        }, {
          label: '日の支出',
          data: barOutcomeList,
          backgroundColor: '#5cb85c',
          yAxisID: 'y-axis-right',
        }]
      },
    }
  }
}
</script>

<style>
.piechart-container {
  position: relative;
  height: 20vw;
  width: 20vw;
  margin: 0 auto;
}

.barchart-container {
  position: relative;
  height: 25vw;
  width: 75vw;
  margin: 0 auto;
}

@media (max-width: 767.98px) {
  .piechart-container {
    position: relative;
    height: 60vw;
    width: 60vw;
    margin: 0 auto;
  }

  .barchart-container {
    position: relative;
    height: 60vw;
    width: 90vw;
    margin: 0 auto;
  }
}
</style>
