<template>
  <div>
    <b-container fluid>
      <b-row>
        <b-col cols="12" md="2" class="pt-3">
          <h5 class="text-primary">年月一覧</h5>
          <div class="list-group">
            <nuxt-link 
              v-for="period in periodList"
              :key="period.period"
              :to="{name: 'list-period', params: { period: period.period }}"
              class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
              {{ period.period }}
              <span class="badge badge-pill badge-primary">{{ period.count }}</span>
            </nuxt-link>
          </div>
        </b-col>
        <b-col>
          <nuxt-child ref="table" />
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
export default {
  middleware: 'authenticated',
  async asyncData({ app }) {
    const periodList = await app.$axios.$get(process.env.API_URL + '/expenses/period')
    return {
      periodList: periodList.data
    }
  }
}
</script>
