<template>
  <div>
    <b-container fluid>
      <h3 class="m-3 text-center text-success">ログイン</h3>
      <b-form @submit="onSubmit">
        <div v-for="error in errors" :key="error.index">
          <div v-for="val in error" :key="val.index" class="text-danger small">{{ val }}</div>
        </div>

        <b-form-group label="メールアドレス" label-for="email">
          <b-form-input id="email" v-model="form.email" type="email" required />
        </b-form-group>

        <b-form-group label="パスワード">
          <b-form-input v-model="form.password" type="password" required/>
        </b-form-group>

        <b-button type="submit" variant="primary">ログイン</b-button>
      </b-form>
      <div class="mt-2">
        <nuxt-link to="signup" class="btn btn-success">新規登録</nuxt-link>
      </div>
      <div>
        テスト用アカウント<br /> 
        test1@test.test：password<br /> 
        test2@test.test：password<br /> 
        test3@test.test：password<br /> 
      </div>
    </b-container>
  </div>

</template>

<script>
export default {
  layout: 'login',
  data() {
    return {
      form: {
        email: '',
        password: ''
      },
      errors: {}
    }
  },
  methods: {
    onSubmit(evt) {
      evt.preventDefault()
      const app = this
      app.$axios.post(process.env.API_URL + '/login', {
        email: this.form.email,
        password: this.form.password
      }).then(function (res) {
        app.$cookies.set('token', res.data.data.token, {secure: process.env.ENVIRONMENT !== 'development'})
        app.$router.push({path: '/'})
      }).catch(function (error) {
        if (error.response) {
          app.errors = error.response.data.errors
        }
      })
    }
  }
}

</script>