<template>
  <div>
    <b-container fluid>
      <h3 class="p-3 text-center text-success">設定</h3>
      <b-row>
        <b-col cols="12" md="4" class="mt-4">
          <div v-for="error in errors1" :key="error.index">
            <div v-for="val in error" :key="val.index" class="text-danger small">{{ val }}</div>
          </div>
          <b-form @submit="onSubmit">
            <b-form-group label="名前 (最大50文字)" label-for="name">
              <b-form-input id="name" v-model="form1.name" type="text" required />
            </b-form-group>

            <b-form-group label="メールアドレス (最大255文字)" label-for="email">
              <b-form-input id="email" v-model="form1.email" type="email" required />
            </b-form-group>

            <b-form-group label="パスワード" label-for="password">
              <b-form-input id="password" v-model="form1.password" type="password" required/>
            </b-form-group>

            <b-form-group label="新パスワード (6-128文字の半角英数字)" label-for="newPassword">
              <b-form-input id="newPassword" v-model="form1.newPassword" type="password" />
            </b-form-group>

            <b-form-group label="確認用新パスワード" label-for="newPasswordConfirmation">
              <b-form-input id="newPasswordConfirmation" v-model="form1.newPasswordConfirmation" type="password" />
            </b-form-group>

            <b-form-group label="月毎の予算 (最大100000000円)" label-for="budget">
              <b-form-input id="budget" v-model="form1.budget" type="number" min="0" required />
            </b-form-group>

            <b-button type="submit" variant="primary">更新</b-button>
          </b-form>
          <b-button variant="danger" class="mt-3" @click="logout">ログアウト</b-button><br/>
        </b-col>
        <b-col cols="6" md="4" class="mt-4">
          <h6>費目（収入）</h6>
          <b-table :items="titles_i" :fields="fields" small>
            <template v-slot:head(text)="data" />
            <template v-slot:head()="data" />

            <template v-slot:cell(text)="data">{{ data.item.text }}</template>
            <template v-slot:cell()="data">
              <b-button
                :data-id="data.item.value"
                data-type="income"
                variant="success"
                class="float-right"
                size="sm"
                @click="onClick">
                編集
              </b-button>
            </template>
          </b-table>
          <b-button data-type="income" type="submit" variant="primary" @click="onClick2">追加</b-button>
        </b-col>
        <b-col cols="6" md="4" class="mt-4">
          <h6>費目（支出）</h6>
          <b-table :items="titles_o" :fields="fields" small>
            <template v-slot:head(text)="data" />

            <template v-slot:cell(text)="data">{{ data.item.text }}</template>
            <template v-slot:cell()="data">
              <b-button
                :data-id="data.item.value"
                data-type="outcome"
                variant="success"
                class="float-right"
                small
                size="sm"
                @click="onClick">編集</b-button>
            </template>
          </b-table>
          <b-button data-type="outcome" type="submit" variant="primary" @click="onClick2">追加</b-button>
        </b-col>
      </b-row>
    </b-container>

    <b-modal
      v-model="modalShow"
      title="編集"
      ok-title="更新"
      cancel-title="削除"
      cancel-variant="danger"
      @ok="handleOk"
      @cancel="handleCancel">
      <b-form>
        <div v-for="error in errors2" :key="error.index">
          <div v-for="val in error" :key="val.index" class="text-danger">{{ val }}</div>
        </div>

        <b-form-group label="費目 (最大10文字)" label-for="text">
          <b-form-input id="text" v-model="form2.name" type="text" required />
        </b-form-group>
      </b-form>
    </b-modal>

    <b-modal v-model="modalShow2" title="追加" @ok="handleOk2">
      <b-form>
        <div v-for="error in errors3" :key="error.index">
          <div v-for="val in error" :key="val.index" class="text-danger">{{ val }}</div>
        </div>

        <b-form-group label="費目 (最大10文字)" label-for="text">
          <b-form-input id="text" v-model="form3.name" type="text" required />
        </b-form-group>
      </b-form>

      <template v-slot:modal-footer="{ ok }">
        <b-button variant="primary" @click="ok()">登録</b-button>
      </template>
    </b-modal>
  </div>
</template>

<script>
export default {
  middleware: 'authenticated',
  async asyncData({ app }) {
    const res1 = await app.$axios.$get(process.env.API_URL + '/user')
    const res2 = await app.$axios.$get(process.env.API_URL + '/titles')
    return {
      form1: {
        name: res1.data.name,
        email: res1.data.email,
        password: '',
        newPassword: '',
        newPasswordConfirmation: '',
        budget: res1.data.budget,
      },
      form2: {
        id: '',
        name: '',
        type: '',
      },
      form3: {
        name: '',
        type: ''
      },
      titles_i: res2.data.filter(function(title) {return title.is_income === true}),
      titles_o: res2.data.filter(function(title) {return title.is_outcome === true}),
      fields: [
        { key: 'text', label: '費目'},
        { label: ''}
      ],
      modalShow: false,
      modalShow2: false,
      errors1: {},
      errors2: {},
      errors3: {}
    }
  },
  methods: {
    onSubmit(evt) {
      evt.preventDefault()
      const app = this
      app.$axios.patch(process.env.API_URL + '/user', {
        name: app.form1.name,
        email: app.form1.email,
        password: app.form1.password,
        new_password: app.form1.newPassword,
        new_password_confirmation: app.form1.newPasswordConfirmation,
        budget: app.form1.budget
      }).then(function (res) {
        if (res.data.data) {
          app.$cookies.set('token', res.data.data.token, {secure: process.env.ENVIRONMENT !== 'development'})
        }
        app.form1.password = ''
        app.form1.newPassword = ''
        app.form1.newPasswordConfirmation = ''
        app.errors1 = {}
      }).catch(function (error) {
        if (error.response) {
          app.errors1 = error.response.data.errors
        }
      })
    },
    onClick(evt) {
      evt.preventDefault()

      let target
      if (evt.target.dataset.type === 'income') {
        target = this.titles_i.find((item) => {
          return item.value == evt.target.dataset.id
        })
      } else if (evt.target.dataset.type === 'outcome') {
        target = this.titles_o.find((item) => {
          return item.value == evt.target.dataset.id
        })
      }

      this.form2.id = evt.target.dataset.id
      this.form2.type = evt.target.dataset.type
      this.form2.name = target.text
      this.modalShow = true
    },
    handleOk() {
      const app = this
      app.$axios.patch(process.env.API_URL + '/titles/' + app.form2.id, {
        type: app.form2.type,
        name: app.form2.name
      }).then(function () {
        let target
        if (app.form2.type === 'income') {
          target = app.titles_i.find((item) => {
            return item.value == app.form2.id
          })
        } else if (app.form2.type === 'outcome') {
          target = app.titles_o.find((item) => {
            return item.value == app.form2.id
          })
        }

        target.text = app.form2.name

        app.errors2 = {}
      }).catch(function (error) {
        if (error.response) {
          app.errors2 = error.response.data.errors
        }
      })
    },
    handleCancel() {
      const app = this
      app.$axios.delete(process.env.API_URL + '/titles/' + app.form2.id
      ).then(function () {
        
        app.titles_i.some(function(item, i){
          if (item.value==app.form2.id) app.titles_i.splice(i, 1)
        })
        app.titles_o.some(function(item, i){
          if (item.value==app.form2.id) app.titles_o.splice(i, 1)
        })
        app.errors2 = {}
      }).catch(function (error) {
        if (error.response) {
          app.errors2 = error.response.data.errors2
        }
      })
    },
    onClick2(evt) {
      evt.preventDefault()
      this.form3.type = evt.target.dataset.type
      this.form3.name = ''
      this.modalShow2 = true
    },
    handleOk2() {
      const app = this
      app.$axios.post(process.env.API_URL + '/titles', {
        type: app.form3.type,
        name: app.form3.name
      }).then(function (res) {
        if (app.form3.type === 'income') {
          app.titles_i.push({
            value: res.data.id,
            text: app.form3.name
          })
        } else if (app.form3.type === 'outcome') {
          app.titles_o.push({
            value: res.data.id,
            text: app.form3.name
          })
        }
        app.errors3 = {}
      }).catch(function (error) {
        if (error.response) {
          app.errors3 = error.response.data.errors
        }
      })
    },
    logout(evt) {
      evt.preventDefault()
      const app = this
      app.$axios.post(process.env.API_URL + '/logout'
      ).then(function () {
        app.$cookies.remove('token')
        app.$router.push({path: '/login'})
        app.errors1 = {}
      }).catch(function (error) {
        if (error.response) {
          app.errors1 = error.response.data.errors
        }
      })
    }
  }
}
</script>
