<template>
  <div>
    <b-container fluid>
      <h3 class="m-3 text-center text-success">登録</h3>
      <b-form @submit="onSubmit">
        <div v-for="error in errors" :key="error.index">
          <div v-for="val in error" :key="val.index" class="text-danger small">{{ val }}</div>
        </div>

        <b-form-group label="名前 (最大50文字)" label-for="name">
          <b-form-input id="name" v-model="form.name" type="text" required />
        </b-form-group>

        <b-form-group label="メールアドレス (最大255文字)" label-for="email">
          <b-form-input id="email" v-model="form.email" type="email" required />
        </b-form-group>

        <b-form-group label="パスワード (6-128文字の半角英数字)" label-for="password">
          <b-form-input id="password" v-model="form.password" type="password" required/>
        </b-form-group>

        <b-form-group label="確認用パスワード" label-for="passwordConfirmation">
          <b-form-input id="passwordConfirmation" v-model="form.passwordConfirmation" type="password" required/>
        </b-form-group>

        <b-form-group label="月毎の予算 (最大100000000円)" label-for="budget">
          <b-form-input id="budget" v-model="form.budget" type="number" min="0" required />
        </b-form-group>

        <b-button type="submit" variant="primary">登録</b-button>
      </b-form>
    </b-container>
  </div>

</template>

<script>
export default {
  data() {
    return {
      form: {
        name: '',
        email: '',
        password: '',
        passwordConfirmation: '',
        budget: '',
      },
      errors: {}
    }
  },
  methods: {
    onSubmit(evt) {
      evt.preventDefault()
      const app = this
      app.$axios.post(process.env.API_URL + '/user', {
        name: this.form.name,
        email: this.form.email,
        password: this.form.password,
        password_confirmation: this.form.passwordConfirmation,
        budget: this.form.budget
      }).then(function (res) {
        app.$cookies.set('token', res.data.data.token, {secure: process.env.ENVIRONMENT !== 'development'})
        app.$router.push({path: '/'})
      }).catch(function (error) {
        if (error.response) {
          app.errors = error.response.data.errors
        }
      })
    }
  }
}

</script>