<template>
  <div>
    <b-container fluid>
      <b-row>
        <b-col cols="12" md="2" class="pt-3">
          <Form :titleData="titleData" @push-expenses="pushExpenses" />
        </b-col>
        <b-col>
          <h3 class="p-3 text-center text-success">入力</h3>
          <b-table :items="expenses" :fields="fields" striped />
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
import Form from '~/components/Form.vue'

export default {
  middleware: 'authenticated',
  components: {
    Form
  },
  data() {
    return {
      fields: [
        { key: 'accounted_at', label: '日付', sortable: true },
        { key: 'title_name', label: '費目', sortable: true },
        { key: 'income', label: '収入', sortable: true },
        { key: 'outcome', label: '支出', sortable: true },
        { key: 'note', label: '備考', sortable: false }
      ],
      expenses: []
    }
  },
  async asyncData({ app }) {
    const res = await app.$axios.$get(process.env.API_URL + '/titles')
    return {
      titleData: res.data,
    }
  },
  methods: {
    pushExpenses(form) {
      this.expenses.push(form)
    }
  }
}
</script>
